
<div class="card mx-3 my-2 shadow-lg">
    <div class="card-title">
        <nav class="navbar navbar-expand-sm navbar-light bg-white justify-content-between">
            <div class="container-fluid">
                <a class="navbar-brand ms-4" style="font-family: 'Supermercado One', cursive; font-weight: 600;">
                    <h4> <span style="color: #26c6da;; backdrop-filter: blur(5px);">Hiring Service v2.0</span></h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNav" style="justify-content: flex-end; margin-right: 2rem;">
                    <ul class="navbar-nav" style="font-size: large;" >
                        <li class="nav-item ">
                            <a class="nav-link" routerLinkActive="active" aria-current="page" href="#" style="color: #26c6da;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" href="#" style="color: #26c6da;">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" href="#" style="color: #26c6da;">Contact</a>
                        </li>
                    </ul>
                    <button class="btn btn-danger text-center" style="border-radius: 10px;" (click)="addUser()">Add User</button>
                    <button class="btn btn-danger text-center" style="border-radius: 10px;" (click)="logout()">Logout</button>
                </div>
            </div>
        </nav>
    </div>
<hr>
    <div class="card-body">
        <div class="container mt-3">
            <div class="row">
                <div class="col-7 " style="text-align: center;">
                    <h2 class="text-center">
                        Welcome to <span style="color: #26c6da;; backdrop-filter: blur(5px);"> Hiring Events</span>
                    </h2>
                    <p>Are you getting bored with the offline interview process with your students? Let's make it intreating NOW ! Our Application has a solution to this hectic journey, Let's put all our attention to the 'HIRING EVENT And SERVICE'</p>
                    <div class="text-center mt-5">
                        <button class="btn btn-primary " style="border-radius: 40px; font-size: 1.6rem;" (click)="redirectTo()">Let's Get
                            Started <span><img src="../../../assets/share.png" style="height: 30px;" alt=""></span> </button>
                            <p class="text-muted text-center"><br>(you will be redirected to Hiring Event Portal)</p>
                    </div>
                </div>
                <div class="col-5">
                    <img src="../../../assets/sourcing-img.jpg" class="img-fluid" alt=""
                        style="border-bottom-right-radius: 80px;">
                </div>

            </div>
        </div>
        <div class="container mt-5">

            <div class="row">
                <div class="col-5">
                    <img src="../../../assets/planning-img.jpg" class="img-fluid" alt=""
                        style="border-bottom-right-radius: 80px;">
                </div>
                <div class="col-7 " style="text-align: center;">
                    <h2 class="text-center">
                        Interview Process <span style="color: #26c6da;; backdrop-filter: blur(5px);"> Made Easy !</span>
                    </h2>
                    <p>Shaping your organization's interview strategy is not as hard as it seems. Put details of your job, add pacified skills as per choice and Bang ! You are all set to go for interview Process</p>
                    <p>Shaping your organization's interview strategy is Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci neque natus earum nemo facere ullam molestiae aliquam eaque sed? not as hard as it seems. Put details of your job, add pacified skills as per choice and Bang ! You are all set to go for interview Process</p>
                    <p>Shaping your organization's interview strategy is not as hard as it seems. Put details of your job, add pacified Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem minus, magni voluptate dicta, culpa nostrum harum doloremque quis assumenda doloribus optio maxime fugiat neque iusto necessitatibus excepturi tempore veniam totam! skills as per choice and Bang ! You are all set to go for interview Process</p>
                </div>
            </div>
        </div>
        <div class="container mt-5">

            <div class="row">

                <div class="col-7 " style="text-align: center;">
                    <h2 class="text-center">
                        Security <span style="color: #26c6da;; backdrop-filter: blur(5px);">in your Hands</span>
                    </h2>
                    <p>We have made this application highly secure with JWT's Strict security policy, that uses RSA/SHA 256 encryption and decryption.Also all the end points are one to one secured by the JWTs Token generation policy !</p>
                </div>
                <div class="col-5">
                    <img src="../../../assets/security-img.jpg" class="img-fluid" alt=""
                        style="border-bottom-right-radius: 80px;">
                </div>
            </div>
        </div>
    </div>

</div>

