@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
body{
    margin: 0;
    padding: 0;
}

hr{
    height: 1;
    margin: 0;
    padding: 0;
}

.btn-primary{
    color: #fff;
    background-color: #26c6da;
    border-color: #0d6efd;
}
.btn-primary:hover{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.active{
    background-color: white !important;
    border-bottom: 2px solid rgb(85,20,180) !important;
    color: black !important;
}
.nav-link:hover{
    background-color: white !important;
    border-bottom: 2px solid rgb(85,20,180) !important;
    color: black !important;
}

.navbar-brand:hover{
    background-color: white !important;
    border-bottom: 2px solid rgb(85,20,180) !important;
    color: black !important;
}