input, .card{
    border: 1px solid rgb(85,20,180) !important;
}

.card-header{
    background-color: rgb(85,20,180) !important;
}
.input-group-text{
    border: 1px solid rgb(85,20,180) !important;
}

.shadow-lg {
    box-shadow: 0 3rem 5rem rgba(0,0,0,.175)!important;
}

.p-1 {
    padding: 0rem!important;
}